# Игнорировать виртуальное окружение
venv/

# Игнорировать файл с переменными окружения
.env

# Игнорировать файлы базы данных
*.sqlite3
*.db

# Игнорировать кэш Python
__pycache__/
*.py[cod]
*$py.class

# Игнорировать файлы IDE
.idea/
.vscode/
*.swp
*.swo

# Игнорировать логи
*.log

# Игнорировать директории сборки
build/
dist/
*.egg-info/

# Игнорировать файлы зависимостей
*.env
*.lock